<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="forgot">
    <form (ngSubmit)="forgotPassword()">
      <label for="chk" aria-hidden="true">Forgot Password</label>
      <input type="email" name="email" placeholder="email" [(ngModel)]="forgotObj.userName">
      <button>Forgot</button>
    </form>
  </div>
  <div class="reset">
    <form (ngSubmit)="resetPassword()">
      <label for="chk" aria-hidden="true">Reset Passowrd</label>
      <input type="text" name="txt" placeholder="forgotCode" [(ngModel)]="resetObj.forgotCode" required/>
      <input type="email" name="email" placeholder="username" [(ngModel)]="resetObj.username" required/>
      <input type="password" name="pswd" placeholder="Password" [(ngModel)]="resetObj.password" required/>
      <button>Change Password</button>
    </form>
  </div>
</div>
</body>
</html>
