<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="login-register.component.scss">

</head>
<body>
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">
  <div class="login">
    <form (ngSubmit)="onLogin()">
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" name="user name" placeholder="User name" [(ngModel)]="loginObj.username" required="true">
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          placeholder="Password"
          [(ngModel)]="loginObj.password"
          required="true">
        <i
          class="fas"
          [class.fa-eye]="!showPassword"
          [class.fa-eye-slash]="showPassword"
          (click)="toggleShowPassword()">
        </i>
      </div>
      <button>Login</button>
    </form>
    <div class="forgot">
      <a href="/forgot">Forgot password?</a>
    </div>
  </div>
  <div class="signup">
    <form (ngSubmit)="onSignUp()">
      <label for="chk" aria-hidden="true">Sign up</label>
      <input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.username" required="true"/>
      <div class ="password-container-signup">
        <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        placeholder="Password"
        [(ngModel)]="signupObj.password"
        required="true">
        <i
          class="fas"
          [class.fa-eye]="!showPassword"
          [class.fa-eye-slash]="showPassword"
          (click)="toggleShowPassword()">
        </i>
      </div>
      <button>Sign up</button>
    </form>
  </div>
</div>
</body>
</html>
