<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">
  <div class="login">
    <form (ngSubmit)="onLogin()">
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" name="user name" placeholder="User name" [(ngModel)]="loginObj.username" required="true">
      <input type="password" name="pssword" placeholder="Password" [(ngModel)]="loginObj.password" required="true">
      <button>Login</button>
    </form>
    <div class="forgot">
      <a href="/forgot">Forgot password?</a>
    </div>
  </div>
  <div class="signup">
    <form (ngSubmit)="onSignUp()">
      <label for="chk" aria-hidden="true">Sign up</label>
      <input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.username" required="true"/>
      <input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password" required="true"/>
      <button>Sign up</button>
    </form>
  </div>

</div>
</body>
</html>
